<%= render partial: 'shared/page_title', locals: { page_title: @category_name + 'の製品一覧' } %>

<h2 class="basic-heading"><%= @category_name %></h2>

<ul class="item-list flex">
  <% @items.each do |item| %>
  <%= link_to show_item_path(item), class: 'contents' do %>
  <li class="item-list__item">
    <%= image_tag 'img_item.jpg' %>
    <h3 class="item-list__heading"><%= item.name %></h3>
    <p class="item-list__txt"><%= truncate(item.description, length:25) %></p>
  </li>
  <% end %>
  <% end %>
</ul>
